* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -ms-content-zooming: none;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#pano {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vr-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: black;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 12px;
  color: white;
}

#enter-vr { 
  cursor: pointer;
  font-size: .9em;
  padding: .5em 2em;
  background-color: #25aae1;
  border: 2px solid #25aae1;
  color: #fff;
  border-radius: 5px;
 }

 #enter-vr:hover { 
  background-color: #51BBE7;
  border: 2px solid #51BBE7;
 }
 
#no-vr { cursor: default; }
